ul, li {list-style: none;}

a {text-decoration: none;}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 90vh;
    padding: 16px;
    background-color: #FFB4B4;
    border-radius: 8px;
    margin-right: 16px;
    box-sizing: border-box;
}

nav input {
    display: none;
} 

/* 2. tab 메뉴 부분 디자인 */
nav input {
    display: none;
}  

nav label {
    margin-left: auto;
    margin-right: auto;
}


nav label:hover {
    cursor: pointer; 
}

nav input:checked + label {
    font-weight: bold;
}

/* 3. tab 내용 부분 디자인 */
.tab-content {
    width: 100%; /*부모 div width와 같은 width를 가진다.*/
    height: 500px;
    display: none; /*기본 값일땐 화면에 표시하지 않음. 체크 상태일 때, 화면에 표시되어야 함 */
    border-top: 2px solid rgba(200, 200, 200, 0.534);/*탭 메뉴와 내용구분선*/
}


/* input 태그가 체크 상태일떼, 이에 대응하는 content?를 display에 표시하도록 설정 */
#home:checked ~ #content1,
#mytask:checked ~ #content2,
#addtask:checked ~ #content3,
#calendar:checked ~ #content4 {
  display: flex;
}


#home:checked ~ .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 300px);
    height: 90vh;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    background-color: #FFB4B4;
}

.team-name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
}

.task-manager {
    font-size: 24px;
    margin-bottom: 24px;
}

.phrases-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phrase {
    font-size: 40px;
    margin-bottom: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #E6E6E6;
    color: #333;
    text-align: center;
}

footer {
    display: block;
    width: 100vw;
    text-align: center;
}

